/* thai */
@font-face {
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Kanit Regular'), local('Kanit-Regular'), url(https://fonts.gstatic.com/s/kanit/v5/nKKZ-Go6G5tXcraBGwCKd6xBDFs.woff2) format('woff2');
    unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
}

/* vietnamese */
@font-face {
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Kanit Regular'), local('Kanit-Regular'), url(https://fonts.gstatic.com/s/kanit/v5/nKKZ-Go6G5tXcraaGwCKd6xBDFs.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Kanit Regular'), local('Kanit-Regular'), url(https://fonts.gstatic.com/s/kanit/v5/nKKZ-Go6G5tXcrabGwCKd6xBDFs.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Kanit Regular'), local('Kanit-Regular'), url(https://fonts.gstatic.com/s/kanit/v5/nKKZ-Go6G5tXcraVGwCKd6xB.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

a.logo:hover,
a.logo:active,
a.logo:focus {
    text-decoration: none;
}


@media only screen and (max-width: 600px) {
    #navbarResponsive {
        display: all;
    }

    li.nav-item .btn {
        margin-top: .2rem;
        margin-left: .4rem;
    }

    li.nav-item .btn-white {
        color: #46484a;
    }
}

/*banner*/

.banner {
    position: relative;
    margin: auto;
    overflow: hidden;
}

#banner-overlay {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 1;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

.banner-image {
    width: 100%;
}

.banner-details {
    margin-top: 160px;
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 1;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.banner-details h1 {
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.15em;
}

.banner-details p {
    color: #fff;
    font-size: 0.8em;
}

.form-group label {
    position: absolute;
    left: 5%;
    margin-top: 5px;
    color: #222;
}

.form-group input {
    width: 100%;
    display: block;
    border: none !important;
    border-radius: 0% !important;
    border-bottom: 1px solid #999 !important;
    padding: 6px 30px;
    box-sizing: border-box;
    outline: none;
    appearance: unset !important;
    -moz-appearance: unset !important;
    -webkit-appearance: unset !important;
    -o-appearance: unset !important;
    -ms-appearance: unset !important;
    background-color: transparent;
    text-align: 30px;
}

#about{
    background-color: #cccccc;
}

.about .row{
    width: 70%;
}
@media only screen and (max-width: 750px) {
    .about .row{
        width: 70%;
    }
}

/*image overlay*/
.content {
    position: relative;
    width: 80%;
    max-width: 400px;
    margin: auto;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media only screen and (max-width: 750px) {
    .about .col-sm-4 {
        margin-bottom: 30px;
    }
    .content {
        margin-top: 30px;
    }
    #about h1 {
        font-size: 30px;
    }
    #about p {
        margin-bottom: -30px;
    }
}

.content .content-overlay {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay {
    opacity: 1;
}

.content-image {
    width: 100%;
}

.content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details {
    top: 50%;
    left: 50%;
    opacity: 1;
}

.content-details h3 {
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
}

.content-details p {
    color: #fff;
    font-size: 0.8em;
}

@media only screen and (max-width: 750px) {
    .content-details h3 {
        font-size: 20px;
    }
}

#contact {
    /* The image used */
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../src/contact.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    /* Set a specific height */
    height: auto;
    padding-bottom: 40px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.card-contact {
    padding: 20px;
    margin: 0 auto;
    max-width: 50%;
    background-color: #000;
    opacity: 0.8;
    color: #fff;
    display: block;
}

@media only screen and (max-width: 750px) {
    .card-contact {
    padding: 20px;
    margin: 0 auto;
    max-width: 80%;
    background-color: #000;
    opacity: 0.8;
    color: #fff;
    position: center;
    display: block;
}
}

.fadeIn-top {
    top: 20%;
}

#navbar {
    transition: 0.3s;
}

body {
    font-family: 'Kanit';
}

.carousel-inner img {
    width: 100%;
    height: 100%;
    max-height: 500px;
}

#register {
    background-color: #999;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.7);
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
    color: rgba(255, 255, 255, 1);
}

a {
    color: #555;
    transition: 0.3s;
}

a:hover {
    color: #000;
}

.box {
    width: 100%;
    height: 260px;
    margin: 0.1rem 0.1rem;
}
@media only screen and (max-width: 750px) {
    .box {
        width: 100%;
        height: 130px;
        margin: 0.1rem 0.1rem;
    }
}
.mb-button{
    text-align: left;
}

#enterin{
    padding: 50px;
}

#enterin button{
    width: 40%;
    height: 50px;
    border-radius: 30px;
    color: #0c0c0c;
    border-color: #CDE3FE;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#enterin button:hover{
    background-color: #CDE3FE;
    color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media only screen and (max-width: 750px) {
    #enterin{
        padding-top: 0px;
    }
}

footer{
    margin-top: 50px;
    margin-bottom: 20px; 
    background: url(img/bg-01.jpg);
}
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  margin-top: 45vh;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#loading{
    width: 100%;
    height: 100%;
    position: fixed;
    text-align: center;
    display: block;
    background-color: #555;
    z-index: 9999;
    display: none;
}
